<div class="container">
    <div class="row">
        <div class="text-color">


            <h2>TOPIC詳細</h2>

            <div class="row">
                <div id="topics">
                    <%= attachment_image_tag @topic, :image, format: 'jpeg', size: "150x150",  fallback: "no_image.jpg"%><br>
                    <%= @topic.title %>
                    <%= @topic.body %>
                    <%= link_to "Edit", edit_admin_topic_path(@topic.id) %>
			        <%= link_to "Destroy", admin_topic_path(@topic.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
                </div>
            </div>


        </div>
    </div>
</div>